.container
  .row{ style: "margin-bottom: 20px; margin-top: 20px;"}
    .col-md-3
      %h1 Compositions
    .col-md-2
      %a{ href: "#{new_composition_path}"}
        %button.btn.btn-primary
          + Add Composition
    .col-md-6
  .row
    .col-md-12
      %table.table
        %thead
          %th #
          %th Title
          %th Schedule
          %th Start Date
          %th End Date
          %th Client Name
          %th ASIN
          %th Actions
        %tbody
          - @compositions.each do |composition|
            %tr
              %td
                = composition.id
              %td
                = composition.title
              %td
                = composition.schedule
              %td
                = composition.start_date.strftime("%d/%m/%Y") rescue nil
              %td
                = composition.end_date.strftime("%d/%m/%Y") rescue nil
              %td
                = composition.client_name
              %td
                = composition.asins.first.try(:value)
              %td
                %button.btn.btn-primary.btn-sm
                  Edit
              %td
                %a{ href: "#{generate_composition_path(composition)}"}
                  %button.btn.btn-danger.btn-sm
                    Generate
